nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  background-color: lightblue;
  border-bottom: 2px solid white;
  z-index: 2;
  color: navy;
  button {
    background: transparent;
    cursor: pointer;
    border: 2px solid navy;
    padding: 0.5rem;
    transition: all 0.3s ease;
    &:hover, &:active {
      background: navy;
      color: white;
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    button {
      z-index: 2;
    }
  }
}
